/* You can add global styles to this file, and also import other style files */
:root {
    --primary-white: #fff;
    --primary-gray: #a5a5a5;
    --primary-font-family: Helvetica, sans-serif;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}